@font-face {
    font-family: "atkinson";
    src: url("/font/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"), url("/font/Atkinson-Hyperlegible-Regular-102a.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "atkinson";
    src: url("/font/Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2"), url("/font/Atkinson-Hyperlegible-Italic-102a.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "atkinson";
    src: url("/font/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2"), url("/font/Atkinson-Hyperlegible-Bold-102a.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "atkinson";
    src: url("/font/Atkinson-Hyperlegible-BoldItalic-102a.woff2") format("woff2"), url("/font/Atkinson-Hyperlegible-BoldItalic-102a.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

.atkinson {
    font-family: atkinson, avenir next, avenir, sans-serif
}

.text-stroke {
    -webkit-text-stroke: 1px black;
}