<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
    {{ if .IsTranslated }}
    {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
    {{ end }}
    {{ end }}
    {{ range .AlternativeOutputFormats -}}
    {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <title>{{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}
    </title>

    <link rel="stylesheet" href='{{ "css/tachyons.min.css" | relURL }}' />
    <link rel="stylesheet" href='{{ "css/local.css" | relURL }}' />

    <link rel="stylesheet" href='{{ "reveal/reveal.css" | relURL }}'>
    <link rel="stylesheet" href='{{ "reveal/theme/dracula.css" | relURL }}'>

    {{/* https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs */}}
    <link rel="manifest" href='{{ "manifest.webmanifest" | relURL }}'>
    <link rel="icon" href='{{ "favicon.ico" | relURL }}' sizes="any">
    <link rel="icon" href='{{ "icon.svg" | relURL}}' type="image/svg+xml">
    <link rel="apple-touch-icon" href='{{ "apple-touch-icon.png" | relURL }}'>
</head>

<body class="bg-white black-80 atkinson">
    <header class="pv4 tc">
        <a class="dib h2 w2 br-100 dim black-80 bg-black-80 bg-animate hover-bg-light-pink hover-light-pink"
            href="{{ .Site.Home.RelPermalink }}">
            <img src='{{ "/icon.svg" | relURL }}' alt="vajont.eu logo" />
        </a>
        <a class="pa0 ma0 link dim black-80 bg-animate hover-light-pink" href="{{ .Site.Home.RelPermalink }}">
            <h1 class="pa0 ma0 f1 f-headline-l fw1 lh-title baskerville i ">{{ .Site.Title }}</h1>
        </a>
        {{ with .Site.Params.subtitle }}
        <p class="ph2 mt2 mb0 f5 f4-l fw4 ttu tracked">{{ . }}</p>
        {{ end }}

        <nav class="mw8 center bt bb tc mt4" role="navigation">
            <a class="pa3 ph4-l dib f5 f4-l link bg-animate black-80 hover-bg-lightest-blue inline-flex items-center"
                href="{{ .Site.Home.RelPermalink }}">
                <span class="h2"></span>
                <span class="">Home</span>
            </a>

            {{ range .Site.Menus.main }}
            <a class="pa3 ph4-l dib f5 f4-l link bg-animate black-80 hover-bg-{{ .Page.Params.pageColor }} inline-flex items-center"
                href="{{ .URL }}" title="{{ .Title }}">
                <span class="h2"></span>
                <span class="">{{ .Title }}</span>
            </a>
            {{ end }}

            {{/* if .IsTranslated }}
            {{ range .Translations }}
            <a class="pa3 ph4-l dib f5 f4-l link bg-animate black-80 hover-bg-pink inline-flex items-center"
                href="{{ .RelPermalink }}" title="{{ .Language.LanguageName }}">
                <img class="h2 w2" src="{{ .Language.Params.langIcon }}" alt="{{ .Language.LanguageName }}" />
                <span class="ml3 pr2">{{ .Language.LanguageName }}</span>
            </a>
            {{ end }}
            {{ end */}}
            </div>
        </nav>
    </header>
    <main class="mw8 center">
        {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
        {{ end }}
    </main>
    {{ block "footer" . }}
    <footer class="mw8 center pv4 bt tc">
        <a class="link dim black-80 bg-animate hover-bg-lightest-blue dib h2 w2 br-100 mr3"
            href="https://t.me/progettodighe" title="">
            <svg class="svg" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>Telegram</title>
                <path
                    d="M11.944 0A12 12 0 0 0 0 12a12 12 0 0 0 12 12 12 12 0 0 0 12-12A12 12 0 0 0 12 0a12 12 0 0 0-.056 0zm4.962 7.224c.1-.002.321.023.465.14a.506.506 0 0 1 .171.325c.016.093.036.306.02.472-.18 1.898-.962 6.502-1.36 8.627-.168.9-.499 1.201-.82 1.23-.696.065-1.225-.46-1.9-.902-1.056-.693-1.653-1.124-2.678-1.8-1.185-.78-.417-1.21.258-1.91.177-.184 3.247-2.977 3.307-3.23.007-.032.014-.15-.056-.212s-.174-.041-.249-.024c-.106.024-1.793 1.14-5.061 3.345-.48.33-.913.49-1.302.48-.428-.008-1.252-.241-1.865-.44-.752-.245-1.349-.374-1.297-.789.027-.216.325-.437.893-.663 3.498-1.524 5.83-2.529 6.998-3.014 3.332-1.386 4.025-1.627 4.476-1.635z">
                </path>
            </svg>
        </a>
        {{/* <a class="link dim black-80 bg-animate hover-bg-purple dib h2 w2 br-100 mr3" href="#" title="">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>Mastodon</title>
                <path
                    d="M23.193 7.88c0-5.207-3.411-6.733-3.411-6.733C18.062.357 15.108.025 12.041 0h-.076c-3.069.025-6.02.357-7.74 1.147 0 0-3.412 1.526-3.412 6.732 0 1.193-.023 2.619.015 4.13.124 5.092.934 10.11 5.641 11.355 2.17.574 4.034.695 5.536.612 2.722-.15 4.25-.972 4.25-.972l-.09-1.975s-1.945.613-4.13.54c-2.165-.075-4.449-.234-4.799-2.892a5.5 5.5 0 0 1-.048-.745s2.125.52 4.818.643c1.646.075 3.19-.097 4.758-.283 3.007-.359 5.625-2.212 5.954-3.905.517-2.665.475-6.508.475-6.508zm-4.024 6.709h-2.497v-6.12c0-1.29-.543-1.944-1.628-1.944-1.2 0-1.802.776-1.802 2.313v3.349h-2.484v-3.35c0-1.537-.602-2.313-1.802-2.313-1.085 0-1.628.655-1.628 1.945v6.119H4.831V8.285c0-1.29.328-2.314.987-3.07.68-.759 1.57-1.147 2.674-1.147 1.278 0 2.246.491 2.886 1.474L12 6.585l.622-1.043c.64-.983 1.608-1.474 2.886-1.474 1.104 0 1.994.388 2.674 1.146.658.757.986 1.781.986 3.07v6.305z">
                </path>
            </svg>
        </a> */}}
        <a class="link dim black-80 bg-animate hover-bg-light-green dib h2 w2 br-100 mr3"
            href="https://matrix.to/#/#vajont:matrix.org" title="Matrix">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>Matrix</title>
                <path
                    d="M.632.55v22.9H2.28V24H0V0h2.28v.55zm7.043 7.26v1.157h.033a3.312 3.312 0 0 1 1.117-1.024c.433-.245.936-.365 1.5-.365.54 0 1.033.107 1.481.314.448.208.785.582 1.02 1.108.254-.374.6-.706 1.034-.992.434-.287.95-.43 1.546-.43.453 0 .872.056 1.26.167.388.11.716.286.993.53.276.245.489.559.646.951.152.392.23.863.23 1.417v5.728h-2.349V11.52c0-.286-.01-.559-.032-.812a1.755 1.755 0 0 0-.18-.66 1.106 1.106 0 0 0-.438-.448c-.194-.11-.457-.166-.785-.166-.332 0-.6.064-.803.189a1.38 1.38 0 0 0-.48.499 1.946 1.946 0 0 0-.231.696 5.56 5.56 0 0 0-.06.785v4.768h-2.35v-4.8c0-.254-.004-.503-.018-.752a2.074 2.074 0 0 0-.143-.688 1.052 1.052 0 0 0-.415-.503c-.194-.125-.476-.19-.854-.19-.111 0-.259.024-.439.074-.18.051-.36.143-.53.282a1.637 1.637 0 0 0-.439.595c-.12.259-.18.6-.18 1.02v4.966H5.46V7.81zm15.693 15.64V.55H21.72V0H24v24h-2.28v-.55z">
                </path>
            </svg>
        </a>
        <a class="link dim black-80 bg-animate hover-bg-blue dib h2 w2 br-100 mr3"
            href="https://codeberg.org/phante/vajont.eu" title="{{ $.Site.Title | safeHTML }}">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>Codeberg</title>
                <path
                    d="M11.955.49A12 12 0 0 0 0 12.49a12 12 0 0 0 1.832 6.373L11.838 5.928a.187.14 0 0 1 .324 0l10.006 12.935A12 12 0 0 0 24 12.49a12 12 0 0 0-12-12 12 12 0 0 0-.045 0zm.375 6.467l4.416 16.553a12 12 0 0 0 5.137-4.213z" />
            </svg>
        </a>
        {{ with .OutputFormats.Get "rss" -}}
        <a class="link dim black-80 bg-animate hover-bg-orange dib h2 w2 br-100 mr3" href="{{ .Permalink }}"
            title="{{ $.Site.Title | safeHTML }}">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>RSS</title>
                <path
                    d="M19.199 24C19.199 13.467 10.533 4.8 0 4.8V0c13.165 0 24 10.835 24 24h-4.801zM3.291 17.415a3.3 3.3 0 0 1 3.293 3.295A3.303 3.303 0 0 1 3.283 24C1.47 24 0 22.526 0 20.71s1.475-3.294 3.291-3.295zM15.909 24h-4.665c0-6.169-5.075-11.245-11.244-11.245V8.09c8.727 0 15.909 7.184 15.909 15.91z">
                </path>
            </svg>
        </a>
        {{ end -}}

        <div class="mt4">
            {{ range .Site.Menus.footer }}
            <a class="f5 f4-l fw4 link dim black bg-animate hover-bg-light-pink dib mr3 mr4-ns" href="{{ .URL }}"
                title="{{ .Title }}">{{ .Title }}</a>
            {{ end }}
        </div>

        <!-- <div class="mt4">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licenza Creative Commons"
                    style="border-width:0"
                    src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />Quest'opera è distribuita con
            Licenza <a class="link dim black bg-animate hover-bg-light-pink" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribuzione
                - Condividi allo stesso modo 4.0 Internazionale</a>.
        </div> -->
    </footer>
    {{- $options := dict "targetPath" "js/global.js" -}}
    {{- $jsBundle := resources.Get "js/global.js" | js.Build $options | resources.Minify | fingerprint -}}
    <script src="{{ $jsBundle.RelPermalink }}" integrity="{{ $jsBundle.Data.Integrity }}" defer nonce="jsbundle"></script>
    {{ end }}
</body>

</html>