{{ define "main" }}

{{ partial "section_content.html" . }}

<div class="pa1 flex flex-wrap justify-center">
    {{ range first 6 .Pages.ByPublishDate.Reverse }}
    <div class="w-100 w-50-m w-50-l">
        <article class="center cf pr1 pr4-m pr4-l">
            <div class="fl w-30">
                <a href="{{ .RelPermalink }}" class="link dim black-80 b--black-20">
                    <div class="aspect-ratio aspect-ratio--1x1">
                        <div class="aspect-ratio--object cover"
                            style="background-image: linear-gradient( #a463f2ff, #a463f200);"></div>
                    </div>
                </a>
            </div>
            <div class="fl w-70 pl3 pb3">
                <header>
                    {{ range first 1 (.GetTerms "categories") }}
                    <a href="{{ .Permalink }}"
                        class="pt1 pl3 pr3 pb1 f6 fw6 ttu measure b db link dim ba bg-light-purple white">{{
                        .LinkTitle }}</a>
                    {{ end }}
                    <a href="{{ .RelPermalink }}" class="link dim black-80 b--black-20">
                        <h2 class="f5 f4-l fw7">{{ .Title }}</h2>
                    </a>
                </header>
                <div class="">{{ .Summary }}</div>
            </div>
        </article>
    </div>
    {{ end }}
</div>

{{ partialCached "tag_cloud.html" . }}

{{ end }}