{{ define "main" }}

<article class="pa1">
    <header>
        <h1 class="f1 fw3 lh-title measure">{{ .Title }}</h1>
        <ul class="list pv4 pl2">
            {{ range (.GetTerms "categories") }}
            <li class="dib mr1 mb2"><a href="{{ .Permalink }}"
                    class="f5 f4-l db pa2 ttu measure link dim black-80 ba b--black-20">{{
                    .LinkTitle }}</a></li>
            {{ end }}
            {{ range (.GetTerms "tags") }}
            <li class="dib mr1 mb2"><a href="{{ .Permalink }}"
                    class="f5 f4-l db pa2 ttu measure link dim black-80 ba b--black-20">{{
                    .LinkTitle }}</a></li>
            {{ end }}
        </ul>
    </header>

    <main class="f5 f4-l lh-copy">
    {{ .Content }}
    </main>
    
    <footer>
        {{ $related := site.RegularPages.RelatedIndices . "tags" | first 4}}
        {{ with $related }}
        <h2>{{ i18n "interested" }}</h2>
        <div class="pa1 flex flex-wrap justify-center">
            {{ range . }}
            <div class="w-100 w-50-m w-50-l">
                <article class="center cf pa3">
                    <div class="fl w-30">
                        <a href="{{ .RelPermalink }}" class="link dim black-80 b--black-20">
                            <div class="aspect-ratio aspect-ratio--1x1">
                                <div class="aspect-ratio--object cover"
                                    style="background-image: linear-gradient( #a463f2ff, #a463f200);"></div>
                                {{ with .Resources.GetMatch "logo" }}
                                <img src="{{ .RelPermalink }}" alt="abstract image">
                                {{ end }}
                            </div>
                        </a>
                    </div>
                    <div class="fl w-70 pl3">
                        <div class="">
                            {{ range first 1 (.GetTerms "categories") }}
                            <a href="{{ .Permalink }}"
                                class="pt1 pl3 pr3 pb1 f6 fw6 ttu measure b db link dim ba bg-light-purple white">{{ .LinkTitle }}</a>
                            {{ end }}
                        </div>
                        <a href="{{ .RelPermalink }}" class="link dim black-80 b--black-20">
                            <h2 class="f5 f4-l fw7">{{ .Title }}</h2>
                        </a>
                    </div>
                </article>
            </div>
            {{ end }}
        </div>
        {{ end }}
    </footer>
</article>

{{ end }}