<article class="pa1">
    {{ with .Title}}
    <header>
        <h1 class="f1 fw3 ttc lh-title measure">{{ . }}</h1>
    </header>
    {{ end }}
    <main class="f5 f4-l lh-copy measure-wide">
    {{ .Content }}
    </main>
</article>