<div class="pa1 bt b--black-80">
    <h2 class="f4">{{ i18n "explore" }}</h2>
    <ul class="list pv4">
        {{ range .Site.Taxonomies.categories.ByCount }}
        <li class="dib mr1 mb2"><a href="{{ .Page.Permalink }}" class="f5 f4-l db pa2 ttu measure link dim black-80 ba b--black-20">{{
                .Page.Title }} ( {{ .Count }} )</a></li>
        {{ end }}
        {{ range .Site.Taxonomies.tags.ByCount }}
        <li class="dib mr1 mb2"><a href="{{ .Page.Permalink }}" class="f5 f4-l db pa2 ttu measure link dim black-80 ba b--black-20">{{
                .Page.Title }} ( {{ .Count }} )</a></li>
        {{ end }}
    </ul>
</div>