{{ define "main" }}
<article>
    <header>
        <h1 class="f2">{{ i18n "404_title" }}</h1>
    </header>
    <p class="f3">{{ i18n "404_subtitle" }}</p>
</article>
<div class="flex flex-wrap justify-center">
    {{ range first 6 .Site.RegularPages.ByPublishDate.Reverse }}
    <div class="w-100 w-50-m w-third-l">
        <article class="center cf pa3">
            <div class="fl w-30">
                <a href="{{ .RelPermalink }}" class="link dim black-80 b--black-20">
                    <div class="aspect-ratio aspect-ratio--1x1">
                        <div class="aspect-ratio--object cover"
                            style="background-image: linear-gradient( #a463f2ff, #a463f200);"></div>
                    </div>
                </a>
            </div>
            <div class="fl w-70 pl3">
                <div class="">
                    {{ range first 1 (.GetTerms "categories") }}
                    <a href="{{ .Permalink }}"
                        class="pt1 pl3 pr3 pb1 f7 measure b db link dim ba bg-light-purple white">{{ .LinkTitle | upper
                        }}</a>
                    {{ end }}
                </div>
                <a href="{{ .RelPermalink }}" class="link dim black-80 b--black-20">
                    <h1 class="f5">{{ .Title }}</h1>
                </a>
            </div>
        </article>
    </div>
    {{ end }}
</div>

{{ partialCached "tag_cloud.html" . }}

{{ end }}