{{ define "main" }}

<div class="pa1 flex flex-wrap">
    <div class="w-100 w-100-m w-50-l">
        {{ range first 1 (where .Site.RegularPages "Section" "post").ByPublishDate }}
        <article class="mw6 center">
            <a href="{{ .RelPermalink }}" class="link dimblack-80 b--black-20">
                <div class="aspect-ratio aspect-ratio--1x1">
                    <div class="aspect-ratio--object cover"
                        style="background-image: linear-gradient(#ffa3d7ff, #ffa3d700);">
                        <h2 class="f1 f-headline-l fw3 lh-solid tc white text-stroke">{{ .Title }}</h2>
                    </div>
                    {{ with .Resources.GetMatch "logo" }}
                    <img src="{{ .RelPermalink }}" alt="abstract image">
                    {{ end }}
                </div>
            </a>
            <ul class="list">
                {{ range (.GetTerms "categories") }}
                <li class="dib mr1 mb2"><a href="{{ .Permalink }}"
                        class="f6 f5-l b db pa2 ttu measure link dim black-80 ba b--black-20">{{ .LinkTitle }}</a></li>
                {{ end }}
                {{ range (.GetTerms "tags") }}
                <li class="dib mr1 mb2"><a href="{{ .Permalink }}"
                        class="f6 f5-l b db pa2 ttu measure link dim black-80 ba b--black-20">{{ .LinkTitle }}</a></li>
                {{ end }}
            </ul>
        </article>
        {{ end }}
    </div>
    <div class="w-100 w-100-m w-50-l">
        {{ range first 5 (after 1 (where .Site.RegularPages "Section" "post").ByPublishDate) }}
        <article class="pa3 mw6 center cf">
            <div class="fl w-30">
                <a href="{{ .RelPermalink }}" class="link dim black-80 b--black-20">
                    <div class="aspect-ratio aspect-ratio--1x1">
                        <div class="aspect-ratio--object cover"
                            style="background-image: linear-gradient( #a463f2ff, #a463f200);"></div>
                        {{ with .Resources.GetMatch "logo" }}
                        <img src="{{ .RelPermalink }}" alt="abstract image">
                        {{ end }}
                    </div>
                </a>
            </div>
            <div class="fl w-70 pl3">
                <div class="flex flex-wrap">
                    {{ range first 1 (.GetTerms "categories") }}
                    <a href="{{ .Permalink }}"
                        class="pt1 pl3 pr3 pb1 f6 fw6 ttu measure b db link dim ba bg-light-purple white">{{ .LinkTitle }}</a>
                    {{ end }}
                </div>
                <a href="{{ .RelPermalink }}" class="link dim black-80 b--black-20">
                    <h2 class="f5 f4-l fw7">{{ .Title }}</h2>
                </a>
            </div>
        </article>
        {{ end }}
    </div>
</div>

{{ partialCached "tag_cloud.html" . }}

{{ end }}